.appContainer {
    background-color: #03384d; 
    margin: 10px;
    width: auto;
    height: 100vh;
    border: 20px solid #032a39;   
}

.appCard {
    /* text-overflow:hidden;
    background-color: #055c7f;
    background-image: linear-gradient(#055c7f, #033347);
    border:5px solid black;
    border-radius: 25px;
    padding-bottom: 10px;
    margin-top: 10px; */
    text-align: center;
    border: 5px solid #7f7f7f;
    background-color: #d9d9d9;
    border-radius: 25px;
    opacity: 1;
}
.appCard:hover {
    cursor: pointer;
}

.block_cell{
display: flex;
align-items: center;
justify-content: center;
}


.app_cat span{
    color:#fff;
    background-color: #07445d;
    font-size: smaller;
    padding: 0 5px 5px 5px;
}
  
.app_title{
    color:#000;
    margin-top: 5%;
    font-size: small;
    min-height: 3vh;
    max-height: 5vh;
}

.app_img{
    width: 5rem;
    height: 5rem;
}
  
.app_desc{
margin-top: 5%;
color:#8f8f8f;
overflow: hidden;
font-size:smaller;
min-height:3vh;
max-height: 6vh;
}
  
.app_links{
    color:#8f8f8f;
    background-color: black;
    border: 2px solid #07445d;
    bottom: 0;
    margin-top: 5%;
}