code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.alert {
  padding: 20px;
  /* background-color: #f44336; */
  /* color: white; */

}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

@font-face {
  font-family: 'MonteCarlo';
  src: local('MonteCarlo'), url(./fonts/MonteCarlo-Regular.ttf) format('opentype');
}